$backgroundColor: #031e29;
$mainTextColor: #fff;
$secondaryTextColor: silver;
$linkTextColor: #00F1F3;
$effectImageColor: #005E89;
$buttonTextColor: #007BB3;

$breakMobile: "(max-width: 767px)";
$breakTablet: "(min-width: 768px) and (max-width: 1023px)";